#loggedInRow{
    margin: auto;
    height: 88vh;
}
#loggedInLeft{
    overflow-y: scroll;

}
#loggedInRight{
    height: 100%;
}
#snip{
    color: #1759a4;
    margin-top: 10%;
    height: 150px;
    width: 150px;
}