#loginPage{
    background: rgb(18,48,69);
    height: 100%;
    background: linear-gradient(90deg, rgb(236, 238, 241) 0%, rgb(232, 237, 243) 32%, rgb(232, 237, 243) 70%, rgb(236, 238, 241) 100%);
}
#pageRow{
    height: 75vh;
}
#logoImage{
    height: 100%;
}