#loginPageRow{
    margin: auto;
    height: 89vh;
}
#loginForm{
    padding: 0%;
    width: 80%;
    margin-top: 25%;
    background-color: #ffffff;
}
#loginPageLeft{
    background-color: #d9dbde;
    height: 100%;
}
#loginPageRight{
    height: 100%;
}
#logoImage{
    height: 100%;
}